body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.spinner-border{
  border-color: #ff7a7a;
  border-right-color: transparent;
}
.button{
  background: #ff7a7a;
  color: white !important;
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  text-decoration: none !important;
}


/*Start Header*/
.header{
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 15px -9px #6c6c6c;
  z-index: 999;
}
.body{
  padding: 57px 0;
}
.navbar{
  padding: 10px 0;
}
.navbar-brand{
  padding: 0;
  margin: 0;
  height: 40px;
}
.navbar-brand img{
  height: 100%;
}
.nav-link{
  font-size: 15px;
  color: black;
}
.nav-link:hover{
  color: #ff7a7a;
}
button.navbar-toggler{
  border: 1px solid #838383;
  height: 35px;
  width: 35px;
  outline: 0;
  padding: 6px 8px;
  border-radius: 0;
}
button.navbar-toggler span{
  display: block;
  width: 100%;
  height: 2px;
  background: #838383;
  margin: 4px 0;
}
/*End Header*/

/*Start HomeSlider*/
#homeCarousel img{
  width: 100%;
  height: calc(100vh - 58px);
  object-fit: cover;
}
#homeCarousel span.fa{
  font-size: 30px;
}
.carousel-inner:after{
  width: 100%;
  height: 100%;
  background: #0000005e;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.homeSlider{
  position: relative;
}
.homeContent{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.homeContent h2{
  color: white;
  font-size: 35px;
  margin: 0;
}
.homeContent p{
  color: white;
  font-size: 15px;
  margin: 10px 0 15px;
}
.homeContent a{
  border-radius: 20px;
}
/*End HomeSlider*/

/*Start HomeAbout*/
.homeAbout{
  padding: 100px 0;
}
.home h2{
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.homeAbout p{
  font-size: 14px;
  text-align: justify;
  line-height: 25px;
  margin-bottom: 20px;
}
.homeAbout img{
  width: 100%;
}
/*End HomeAbout*/

/*Start All Post*/
.postHeader{
  position: relative;
  overflow: hidden;
  height: 400px;
}
.postHeader img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pageTitle{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: translate(0,-50%);
}
.postHeader h1{
  text-align: center;  
  color: white;
  font-size: 40px;
  text-transform: capitalize;
}
.postHeader span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000091;
}
.postItem{
  margin: 30px 0 0 0;
  box-shadow: 0 0 15px -7px #bfbfbf;
  border-radius: 10px;
  overflow: hidden;
  height: calc(100% - 30px);
}
.postItem .img{
  width: 100%;
  height: 250px;
}
.postItem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postItem h5{
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.postItem .content{
  padding: 30px;
}
.postItem p{
  font-size: 14px;
  line-height: 23px;
}
.postItem a.more{
  padding: 7px 15px;
}
.loadMoreBtn{
  margin: 30px 0;
  text-align: center;
}
.loadMoreBtn button{
  background: white;
  color: #ff7a7a !important;
  font-size: 14px;
  padding: 6px 15px;
  border-radius: 0;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  border: 1px solid #ff7a7a;
  box-shadow: none !important;
}
.postAuthor{
  margin: 15px 0;
  font-size: 14px;
  color: #838383;
}
.postAuthor a{
  font-weight: 600;
  color: #ff7a7a;
  margin: 0 0 0 5px;
}
/*End All Post*/

/*Start Search*/
.sideBar{
  margin: 30px 0 0 0;
}
.sideSearch {
  margin: 0 0 30px;
}
.sideSearch form{
  box-shadow: 3px 3px 14px -6px #cdcdcd;
  padding: 15px 15px;
}
.sideSearch input{
  border-radius: 0;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  font-size: 14px;
  padding: 10px 15px;
  height: auto;
}
.sideSearch input:focus{
  border-color: #ff7a7a !important;
}
.sideLatest h3{
  font-size: 17px;
  margin-bottom: 10px;
}
.sideBar .postItem{
  height: auto;
  margin: 15px 0 0;
  position: relative;
  padding: 15px 15px 15px 100px;
}
.sideBar .postItem .img{
  width: 85px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sideBar .postItem h5{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.sideBar .postItem .content{
  padding: 0;
}
.sideBar .postItem p{
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
}
.sideBar .postItem a{
  color: #ff7a7a !important;
  background: transparent;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
}
/*End Search*/

/*Start Single Post*/
.postPage{
  background: white;
  padding: 70px;
  margin: -50px 0 50px;
  position: relative;
  box-shadow: 0px 10px 15px -7px #cecece;
}
.postPage > h2{
  font-size: 15px;
  margin: 0 0 20px;
}
.postPage > h2 a{
  color: #ff7a7a;
  margin: 0 0 0 2px;
}
.postPage .content{
  text-align: justify;
  font-size: 15px;
  line-height: 25px;
}
.postComment h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.commentBlock{
  position: relative;
  padding: 15px 15px 15px 90px;
  margin: 0 0 15px;
  background: #fafafa;
}
.commentBlock .img{
  position: absolute;
  left: 15px;
  top: 15px;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
.commentBlock img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.commentBody{
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.commentBody h5{
  font-size: 16px;
  margin: 0 0 5px;
}
.commentBody h6{
  font-size: 14px;
  font-weight: normal;
  color: #a2a2a2;
  margin: 0 0 10px;
  text-transform: lowercase;
}
.commentBody p{
  font-size: 13px;
  margin: 0;
  line-height: 20px;
}
/*End Single Post*/

/*Start Post Comment*/
.commentForm input,
.commentForm textarea{
  width: 100%;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 14px;
  outline: 0;
}
.commentForm button{
  border: 0;
  background: #ff7a7a;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  outline: 0;
}
/*End Post Comment*/

/*Start all users*/
.userSearch{
  margin: 30px 0;
  text-align: right;
}
.userSearch form{
  display: inline-block;
  width: 300px;
  box-shadow: 3px 3px 14px -6px #cdcdcd;
  padding: 15px 15px;
}
.userSearch input{
  border-radius: 0;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  font-size: 14px;
  padding: 10px 15px;
  height: auto;
}
.userSearch input:focus{
  border-color: #ff7a7a !important;
}
.allUsers{

}
.userItem{
  height: auto;
  margin: 0 0 30px;
  position: relative;
  padding: 15px 15px 15px 155px;
  box-shadow: 0 0 15px -7px #bfbfbf;
  border-radius: 10px;
  overflow: hidden;
}
.userItem .img{
  width: 140px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.userItem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userItem .content{

}
.userItem h3{
  font-size: 16px;
  margin-bottom: 10px;
}
.userItem h4{
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: normal;
}
.userItem h5{
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: normal;
}
.userItem p{
  font-size: 13px;
  margin-bottom: 5px;
}
.userItem a.more{
  color: #ff7a7a;
  background: transparent;
  padding: 0;
  font-weight: 700;
  font-size: 13px;
}
.userItem span.fa{
  color: #5c5c5c;
  width: 15px;
}
.userPage{
  margin: 0;
  position: relative;
}
.userPage .img{
  margin: -220px auto 0;
  width: 150px;
  height: 150px;
  border: 10px solid white;
  border-radius: 10px;
  overflow: hidden;
}
.userPage .img img{
  width: 100%;
}
.userPage h1{
  font-size: 30px;
  margin: 15px 0 50px;
  text-align: center;
  position: relative;
  color: white;
}
.userPage h2{
  font-size: 17px;
  background: #f0f0f0;
  padding: 15px 30px;
  margin: 0;
}
.userPage .content{
  margin: 0 0 30px;
  box-shadow: 0 0 13px -5px #d9d9d9;
  height: calc(100% - 30px);
}
.userPage .content > div{
  padding: 15px 30px;
}
.userPage p{
  font-size: 14px;
  margin: 0;
  line-height: 26px;
}
.userPage span.fa{
  color: #5c5c5c;
  width: 20px;
}
.subTitle{
  font-size: 25px;
  margin: 20px 0 0;
  text-align: center;
}
.userPostItem{
  padding: 0 15px;
}
.slick-next:before, .slick-prev:before {
  font-size: 25px;
  color: #ff7a7a;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ff7a7a;
}
.slick-dots li button:before {
  font-size: 10px;
}
/*End all users*/

/*Start Footer*/
footer{
  background: #0b0b0b;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 13px;
  display: none;
}
footer p{
  margin: 0;
}
/*End Footer*/

/*Start About Us*/
.about{
  
}
.about .content{
  padding: 50px 0;
}
.about .content p{
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 20px;
}
/*End About Us*/